
body {
    min-width: 960px;
    background-color: #19191b;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #444;
}
header h1 {
    font-family: arial;
    font-weight: bolder;
    color: #37b0ab;
    padding: 15px 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;

}
.btn.modifyBtn {
    width: 100%;
}
.clearfix{
    clear: both;
}
textarea.form-cotrol{
    border-radius: 5px;
    height: 400px; 
    width: 100%
}
.optionBtn{
    width: 70px;
    position: relative;
}

.optionBtn input {
    position: absolute;
    opacity: 0;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.err-panel {
    background: #c34444;
    color: #FFF;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: none;
}